@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Align Image Gallery</title>
    <link href="/css/gallery.css" rel="stylesheet">
</head>
<body>
    <div>
        <div class="container">
            <div class="gallery" data-target="gallery">
                <div class="portrat">
                    <div class="author" data-target="author">
                          Author Name
                    </div>
                    <img width="690" height="400" class="img" data-target="img" src="" />
                </div>
                <div class="bottom">
                    <div class="buttons">
                        <button class="slideLeft" data-action="slideLeft"><</button>
                        <button class="slideRight" data-action="slideRight">></button>
                    </div>
                    <div class="wrapper">
                        <ul class="carousel" data-target="carousel">
                            <li class="card" data-target="card"></li>
                            <li class="card" data-target="card"></li>
                            <li class="card" data-target="card"></li>
                            <li class="card" data-target="card"></li>
                            <li class="card" data-target="card"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- /container -->
    </div>

    <script src="/js/gallery.js"></script>

</body>
</html>