@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="/css/gallery.css" rel="stylesheet">
</head>
<body>
    <div>
        <div class="container">
            <div class="">

                <div class="wrapper">
                    <ul class="carousel" data-target="carousel">
                        <li class="card" data-target="card"></li>
                        <li class="card" data-target="card"></li>
                        <li class="card" data-target="card"></li>
                        <li class="card" data-target="card"></li>
                        <li class="card" data-target="card"></li>
                        <li class="card" data-target="card"></li>
                        <li class="card" data-target="card"></li>
                        <li class="card" data-target="card"></li>
                        <li class="card" data-target="card"></li>
                    </ul>
                    <div class="button-wrapper">
                        <button data-action="slideLeft"><</button>
                        <button data-action="slideRight">></button>
                    </div>
                </div>

            </div>
        </div> <!-- /container -->
    </div>

    <script src="/js/gallery.js"></script>

</body>
</html>